@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

@font-face{
	font-family: helveticaneuelight;
	src: url("Fonts/helveticaneuelight.ttf")
}

body {
	background-image: url("Images/background.png");
}

.header{
	margin-top: 20px;
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	
}
.container{
	width: auto;
	height: auto;
	background-position: center;
	background-size: cover;
	padding-left: 120px;
	padding-right: 120px;
	box-sizing: border-box;
}

.navbar{
	margin-top: 32px;
	height: 12%;
	display: flex;
	align-items: center;	
}

.logo{
	width: 160px; 
	cursor: pointer;
}

.cart-icon{
	padding-top: 24px;
	width: 20px;
	cursor: pointer;
	margin-left: 120px;	
}

nav{ 
	padding-top: 24px;
	flex: 1;
	text-align: right
}

nav ul li{
	list-style: none;
	display: inline-block;
	align-items: center;
	margin-left: 30px;
}

nav ul li a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 18px;
}

element.style {
	opacity: 1;
	visibility: inherit;
}


a{
	text-decoration: none;
	color: white;
}



.scroll-down{
	align-content: center;
	display: flex;
	justify-content: center;
}






                                                           HOMEPAGE

.slpro{
	margin-top: 135px;
	margin-left: 120px;
	display: flex;
	align-items: center;
	flex-direction: row;
}


.slpro-content{
	display: flex;
	flex-direction: column;
	width: 230px;
	height: 417px;
	margin-bottom: 0;
	margin-top: auto;
}











.footer-container{
	margin-top: 100px;
	margin-left: 225px;
	margin-right: 225px;
	flex-direction: row;
	font-size: 14px;
}

.footer-img{
	display: flex;
    justify-content: center;
    align-content: center;
}

.footer-container{
	margin: 120;
	display: flex;
}

.footer-logo{
	width: 134px;
	margin-left: 120px;
}

.footer-nav{
	width: 96px;
	display: flex;
	flex-direction: column;
	padding-left: 96px;
}

.social-media{
	width: 96px;
	display: flex;
	flex-direction: column;
	padding-left: 96px;
}

.credit{
	font-size: 14px;
	color: white;
	flex-direction: column;
	padding-left: 96px;
}

.ending{
	display: flex;
    justify-content: center;
    align-content: center;
	text-align: center;
}












                                                             ABOUT US

                                                          PRODUCT LIST
.product{
	display: flex;
	justify-content: center;
}






p{
	color: white;
	font-size: 14px;
	line-height: 160%;
}


h1{
	font-size: 96px;
	color: #EEE943;
	line-height: 80%;
	width: 678px; 
	text-align: center;
	margin-top: 146px;
	margin-left: 423px;
	display: flex;
	position: absolute;
}

h2{
	font-size: 48px;
	color: white;
}

h3{
	font-size: 36px;
	color: white;
}

h4{
	font-size: 28px;
	color: white;
}

h5{
	font-size: 20px;
	color: white;
}

h6{
	font-size: 11px;
	color: white;
}




BUTTON

.button {
  background-color: #E5E5E5; 
  border: none;
  color: #4E4D4D;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 153px;
  height: 46px;
  
}

.button:hover {
  background-color: #92E620;
  color: #4E4D4D;
}
	












                                                     